:root {
  --activ-color: #2196f3;
  --main-title-color: #212121;
  --discription-color: #757575;
  --text-white-color: #ffffff;
  --feature-color: #f5f4fa;
  --icon-color: #afb1b8;
}

body {
  font-family: 'Roboto', 'Open Sans', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* background-color: cadetblue;
  outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-style: none;
}
/*------------------------header------------------------*/
.header {
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-color {
  color: var(--activ-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  text-decoration: none;
  color: var(--main-title-color);
  font-size: 14px;
  line-height: 1.14;
}
.header-item .link:hover,
.header-item .link:focus {
  color: var(--activ-color);
}

.header-item .link-active {
  color: var(--activ-color);
}
.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-item .link {
  display: flex;
  padding: 32px 0;
  gap: 10px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
}

.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--activ-color);
}

.mail-icon {
  fill: currentColor;
}

.phone-icon {
  fill: currentColor;
}
/* -----------------------HERO----------------------- */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.hero-wrap {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);

  margin-bottom: 40px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  color: var(--text-white-color);
  background-color: var(--activ-color);

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
}
/* ------------------------ОСОБЛІВОСТІ--------------------- */
.peculiarities {
}

.peculiarities-title {
}

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-item-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--feature-color);
  border-radius: 4px;
}
/* .peculiarities-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.peculiarities-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.peculiarities-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.peculiarities-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */

.peculiarities-item-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-title-color);

  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--discription-color);
}

/* --------------Чим ми займаємося------------------ */
.work {
  padding-top: 0;
}

.work-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-title-color);

  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-img {
}
.work-item {
}

/* ------------------Наша команда ------------------------*/
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-title-color);

  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  text-align: center;
}

.team-container {
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-title-color);

  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--discription-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list-item {
  width: 44px;
  height: 44px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--activ-color);
  fill: #ffffff;
}
/* !!!!ВОПРОС МЕНТОРУ!!!! ЗАЧЕМ ЕТОТ МЕТОД? ЕСЛИ МЕТОД ВЫШЕ ТОЖЕ РАБОТАЕТ!!!
.social-link:hover .social-icon {
  fill: #ffffff;
} */
/* ------------------Постійні клієнти----------------------------- */

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-item {
  height: 92px;
  width: 170px;
}
.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-logo {
  fill: var(--icon-color);
}
.client-item-link:hover,
.client-item-link:focus {
  border-color: var(--activ-color);
}
.client-item-link:hover .clients-logo,
.client-item-link:focus .clients-logo {
  fill: var(--activ-color);
}
/* --------------------------FOOTER-------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;

  margin-bottom: 20px;
  display: block;
}

.footer-adress {
  font-style: normal;
}

.footer-adress-list {
}
.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-white-color);
}

.adress-link:hover,
.adress-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--activ-color);
}

.contact-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.adress-container {
  margin-right: 70px;
}
.footer-soc-block {
}
.active-soc {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-soc-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-soc-item {
  height: 44px;
  width: 44px;
}
.footer-soc-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-footer {
  fill: #ffffff;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--activ-color);
}
/* -----------------PORTFOLIO -------------------*/
.portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-title-color);
}

.portfolio-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-white-color);
  background-color: var(--activ-color);
}
.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-item-container {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-title-color);

  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--discription-color);
}

/* цвет основного текста #212121*/
/* вторичній цвет текста #757575 */
/* цвет телефона в хедер #757575 */
/* цвет при наведении #2196F3 --activ-color*/
/* Заголовок hero #FFFFFF */
/* контакті в футере rgba(255, 255, 255, 0.6) */
/* вторичный цвет фона #F5F4FA */
